// 8888888b.                            888    
// 888   Y88b                           888    
// 888    888                           888    
// 888   d88P .d88b.  .d8888b   .d88b.  888888 
// 8888888P" d8P  Y8b 88K      d8P  Y8b 888    
// 888 T88b  88888888 "Y8888b. 88888888 888    
// 888  T88b Y8b.          X88 Y8b.     Y88b.  
// 888   T88b "Y8888   88888P'  "Y8888   "Y888 
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}





// 888b     d888          d8b          
// 8888b   d8888          Y8P          
// 88888b.d88888                       
// 888Y88888P888  8888b.  888 88888b.  
// 888 Y888P 888     "88b 888 888 "88b 
// 888  Y8P  888 .d888888 888 888  888 
// 888   "   888 888  888 888 888  888 
// 888       888 "Y888888 888 888  888 

$clrg1: hsl(348, 100%, 90%);
$clrg2: hsl(348, 100%, 17%);
$clrtxt1: hsl(348, 100%, 97%);

@mixin flex($orientation: row){
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $orientation;
}

@mixin light-text {
	color: $clrtxt1;
	text-shadow: 0 0 5px #000;
}

*{
	z-index: 3;
}


body{
	padding: 0;
	margin: 0;
	// overflow: hidden;
}

.dicesbg, .bg{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 100vw;
	height: 100vh;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.dicesbg{
	pointer-events: none;
}

.bg{
	z-index: 1;
	background: linear-gradient(to bottom right, $clrg1, $clrg2);
	@include flex(column);
}

.main, .header, .footer{
	max-width: 75vw;
	width: 100%;
	@include flex(column);
}

.main{
	border-radius: 15px;
	border: 2px solid #fab3;
	height: 90%;
	justify-content: space-around;
	
	backdrop-filter: blur(10px);
	
	&__title{
		@include light-text;
		font-size: 50px;
		padding: 50px;
		width: 50%;
		text-align: center;
	}
	
	&__descr{
		padding: 50px;
		width: 50%;
		text-align: center;
		line-height: 2em;
		font-size: 20px;
		
		background: linear-gradient(to bottom right, #fff5, #0002);
		border-radius: 10px;
		
		@include light-text;
		
		box-shadow: -5px -5px 20px #fff3, 5px 5px 20px #2223,
		5px 5px 20px #fff3 inset, -5px -5px 20px #2223 inset,
		;
	}
	
	&__gobtn{
		@include light-text;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		font-size: 200%;
		background: linear-gradient(to bottom right, #fff, #0000);
		cursor: pointer;
		
		transition-duration: 125ms;
		&:hover{
			transform: scale(1.1);
		}
		&:active{
			transform: scale(1);
			filter: brightness(0.9);
		}
	}
}














