// 8888888b.                            888    
// 888   Y88b                           888    
// 888    888                           888    
// 888   d88P .d88b.  .d8888b   .d88b.  888888 
// 8888888P" d8P  Y8b 88K      d8P  Y8b 888    
// 888 T88b  88888888 "Y8888b. 88888888 888    
// 888  T88b Y8b.          X88 Y8b.     Y88b.  
// 888   T88b "Y8888   88888P'  "Y8888   "Y888 
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}





// 888b     d888 d8b          d8b          
// 8888b   d8888 Y8P          Y8P          
// 88888b.d88888                           
// 888Y88888P888 888 888  888 888 88888b.  
// 888 Y888P 888 888 `Y8bd8P' 888 888 "88b 
// 888  Y8P  888 888   X88K   888 888  888 
// 888   "   888 888 .d8""8b. 888 888  888 
// 888       888 888 888  888 888 888  888 
@mixin flex($orientation:row) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $orientation;
}

@mixin center($position: absolute){
	position: $position;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);	
}

@mixin imageScale($x:200px, $y:$x, $fit:contain){
	width: $x;
	height: $y;
	object-fit: $fit;
}

@mixin makeConvex($primclr:#fa5, $offset:5px, $scale:20px, $lighten:50%, $darken:50%){
	$offp: $offset;
	$offm: -$offset;
	
	$clrdark: mix(#000, $primclr, $darken);
	$clrlight: mix(#fff, $primclr, $lighten);
		
	box-shadow: 
	$offp $offp $scale $clrdark,
	$offm $offm $scale $clrlight,
	;
}

@mixin makeConcave($primclr:#fa5, $offset:5px, $scale:20px, $lighten:50%, $darken:50%){
	$offp: $offset;
	$offm: -$offset;
	
	$clrdark: mix(#000, $primclr, $darken);
	$clrlight: mix(#fff, $primclr, $lighten);
		
	box-shadow: 
	$offp $offp $scale $clrdark inset,
	$offm $offm $scale $clrlight inset,
	;
}


@mixin textConvex($primclr:#fa5, $offset:3px, $scale:5px, $lighten:50%, $darken:50%){
	$offp: $offset;
	$offm: -$offset;
	
	$clrdark: mix(#000, $primclr, $darken);
	$clrlight: mix(#fff, $primclr, $lighten);
		
	text-shadow: 
	$offm $offm $scale $clrlight,
	$offp $offp $scale $clrdark,
	;
}

$clrbg1: #d9d9d9;
$clrbg2: #555;
$clrbright: #fa5;

$clrhero: #555;
$clrherobord: transparent;
$heropadding: 50px;
$herocorn: 50px;
$herobr: 5px;

// 888b     d888          d8b          
// 8888b   d8888          Y8P          
// 88888b.d88888                       
// 888Y88888P888  8888b.  888 88888b.  
// 888 Y888P 888     "88b 888 888 "88b 
// 888  Y8P  888 .d888888 888 888  888 
// 888   "   888 888  888 888 888  888 
// 888       888 "Y888888 888 888  888 
body{
	background-color: $clrbg1;
	overflow-x: hidden;
}

.hero{
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	&__panel1, &__panel2{
		position: absolute;
		background-color: $clrhero;
		border: 5px solid $clrherobord;
	}
	
	&__love, &__map{
		z-index: 10;
		position: absolute;
		text-align: center;
		background-color: $clrbg1;
		color: #aaa;
		font-size: 10vh;
		width: 2000px;
		padding: 5vh;
		box-shadow: 0 0 50px black;
		
		font-family: 'Ubuntu', sans-serif;
		text-transform: uppercase;
		letter-spacing: 2.5vh;
		
		@include textConvex($clrbg1, 1px, 3px, 75%, 75%);
	}
	
	&__panel1{
		top: 50%;
		left: 50%;
		transform: translate(-100%, -50%);
		
		width: calc(50vw - #{$heropadding});
		height: calc(100vh - #{$heropadding});
		
		border-radius: $herobr 0 5px $herobr;
		border-right: none;
		border-bottom: none;
	}
	
	&__panel2{
		top: 50%;
		right: 50%;
		transform: translate(100%, -50%) translateY(- $herocorn / 2) translateX(-5px);
		
		width: calc(50vw - #{$heropadding});
		height: calc(100vh - #{$heropadding} - #{$herocorn});
		
		border-radius: 0 $herobr $herobr 0;
		border-left: none;
		border-bottom: none;
	}
	
	&__love{
		left: 27%;
		top: 50%;
		transform: translate(-50%, -50%) rotate(60deg);
	}
	
	&__map{
		right: 30%;
		top: 50%;
		transform: translate(50%, -50%) rotate(60deg);
	}
}

.canvas3d{
	z-index: 5;
	position: absolute;
}

.filler{
	height: 100vh;
}

hr{
	height: 2px;
	width: 100vw;
	background: radial-gradient(circle at center, #555, $clrbg1);
}

.footer{
	@include flex;
	justify-content: space-between;
	padding: 25px 200px;
	font-size: 16px;
	
	&__gitlink{
		font-size: 33px;
		color: $clrbright;
		border-radius: 50%;
		padding: 5px;
		border: 3px solid $clrbright;
		
		@include flex;
		@include makeConvex($clrbg1, 5px, 10px, 100%, 50%);
		
		transition-duration: 255ms;
		&:hover{
			@include makeConvex($clrbg1, 7px, 10px, 100%, 75%);
		}
	}
}

.main{
	@include flex(column);
	padding: 25px 300px;
	
	&-advice:not(:last-child){
		margin-bottom: 50px;
	}
	&-advice{
		padding: 25px;
		width: 100%;
		@include flex(column);
		
		border-radius: 5px;
	}
}

.bounds{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 99;
}








