// 8888888b.                            888    
// 888   Y88b                           888    
// 888    888                           888    
// 888   d88P .d88b.  .d8888b   .d88b.  888888 
// 8888888P" d8P  Y8b 88K      d8P  Y8b 888    
// 888 T88b  88888888 "Y8888b. 88888888 888    
// 888  T88b Y8b.          X88 Y8b.     Y88b.  
// 888   T88b "Y8888   88888P'  "Y8888   "Y888 
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}





// 888b     d888          d8b          
// 8888b   d8888          Y8P          
// 88888b.d88888                       
// 888Y88888P888  8888b.  888 88888b.  
// 888 Y888P 888     "88b 888 888 "88b 
// 888  Y8P  888 .d888888 888 888  888 
// 888   "   888 888  888 888 888  888 
// 888       888 "Y888888 888 888  888 

$clrg1: hsl(348, 50%, 95%);
$clrg2: hsl(348, 50%, 17%);
$clrtxt1: hsl(348, 100%, 97%);

@mixin flex($orientation: row){
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $orientation;
}

@mixin light-text {
	color: $clrtxt1;
	text-shadow: 0 0 3px #000,0 0 3px #000,0 0 3px #000,0 0 3px #000,;
}

@mixin background-fixed {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 100vw;
	height: 100vh;
	transform: translate(-50%, -50%);
}

*{
	z-index: 3;
}

body{
	padding: 0;
	margin: 0;
	// overflow: hidden;
	background-color: #000;
}

.dicesbg{
	@include background-fixed;
	z-index: -1;
	pointer-events: none;
}

.bg{
	position: relative;
	z-index: 1;
	// background: linear-gradient(to bottom right, $clrg1, $clrg2);
	// @include flex(column);
	padding: 0 13vw;
	
	&:before{
		content: "";
		@include background-fixed;
		background: linear-gradient(to bottom right, $clrg1, $clrg2);
		// background: linear-gradient(to bottom right, #545, #312);
		// background: linear-gradient(to bottom right, #333, #111);
		z-index: -2;
	}
}

.main, .header, .footer{
	width: 100%;
	@include flex(column);
}

.main{
	justify-content: space-around;
	
	
	&__title{
		@include light-text;
		font-size: 50px;
		padding: 50px;
		width: 50%;
		text-align: center;
	}
	
	&__descr{
		
		padding: 50px;
		width: 75%;
		text-align: center;
		line-height: 2em;
		font-size: 20px;
		
		background: linear-gradient(to bottom right, transparentize($clrg1, 0.5), transparentize($clrg2, 0.9));
		border-radius: 10px;
		@include light-text;
		box-shadow: 
		-5px -5px 20px transparentize($clrg1, 0.5) inset, 5px 5px 20px transparentize($clrg2, 0.5) inset,;
		
		margin-bottom: 2vh;
	}
	
	&__gobtn{
		@include light-text;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		font-size: 200%;
		background: linear-gradient(to bottom right, transparentize($clrg1, 0.3), transparentize($clrg2, 0.5));
		box-shadow: -5px -5px 10px transparentize($clrg1, 0.25) inset, 5px 5px 10px transparentize($clrg2, 0.25) inset,;
		cursor: pointer;
		
		transition-duration: 125ms;
		&:hover{
			transform: scale(1.15);
		}
		&:active{
			transform: scale(1);
			filter: brightness(0.9);
		}
		margin-bottom: 2vh;
	}
	
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.sect{
	backdrop-filter: blur(10px);
	border-radius: 15px;
	border: 2px solid #fab3;
	height: 90%;
	box-shadow: 0 0 25px #0005;
}

.level{
	height: 50%;
	margin-bottom: 5vh;
	padding: 50px 0;
	
	background: linear-gradient(to bottom right, transparentize($clrg1, 0.5), transparentize($clrg2, 0.9));
	
	@include flex(column);
	justify-content: space-around;
	
	&__title{
		margin-bottom: 5vh;
		font-size: 33px;
		@include light-text;
	}
	
	&-content{
		flex-basis: 100%;

		width: 75%;		
		background: linear-gradient(to bottom right, transparentize($clrg1, 0.5), transparentize($clrg2, 0.9));
		border-radius: 10px;
		@include light-text;
		box-shadow: 
		-5px -5px 20px transparentize($clrg1, 0.5) inset, 5px 5px 20px transparentize($clrg2, 0.5) inset,;
		
		@include flex;
		flex-wrap: wrap;
	}
}


.footer{
	@include flex;
	@include light-text;
	justify-content: space-around;
	padding: 15px 0;
	
	&__git{
		font-size: 50px;
		color: $clrg1;	
		transition-duration: 255ms;
		&:hover{
			transform: scale(1.25);
			filter: drop-shadow(0 0 3px $clrg1);
		}
	}
}

.contactus{
	@include light-text;
	position: fixed;
	right: 5vh;
	top: 85vh;
	font-size: 50px;
	padding: 15px;
	border-radius: 50%;
	z-index: 3;
	
	border: 7px solid $clrg1;
	opacity: 0.25;
	
	cursor: pointer;
	
	transition-duration: 255ms;
	&:hover{
		transform: scale(1.1);
		opacity: 1;
	}
}

::-webkit-scrollbar{
	width: 0;
}
.scrollbar{
	$w : 5px;
	position: fixed;
	z-index: 3;
	right: 0;
	top: 0;
	height: 100px;
	width: $w;
	border-radius: $w;
	background: linear-gradient(to bottom, transparentize($clrg2, 1), $clrg1, transparentize($clrg2, 1));
	box-shadow: 0 0 1px #fff5 inset;
}


@media screen and (max-width: 900px){
	.bg{
		padding: 10px;
	}
	
	.scrollbar{
		display: none;
	}
	.sect{
		height: auto;
		width: 100%;
		margin-bottom: 10px;
	}
	
	.main{
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px 25px;
		&__title, &__descr{
			padding: 5px;
			width: 100%;
			margin-bottom: 10px;
		}
		&__descr{
			font-size: 16px;
			margin-bottom: 20px;
		}
		&__gobtn{
			display: none;
			width: 75px;
			height: 75px;
			font-size: 150%;
		}
	}
	.contactus{
		display: none;
	}
}









